<div class="task priority_<%= task.priority %> completed_ <%= task.completed %>">
  <table>
    <thead>
    <tr>
      <th>Project Name&nbsp;</th>
      <th>&nbsp;Title&nbsp;</th>
      <th>&nbsp;Description&nbsp;</th>
      <th>&nbsp;Notes&nbsp;</th>
      <th>&nbsp;Autor&nbsp;</th>
      <th>&nbsp;Executor&nbsp;</th>
      <th>&nbsp;Priority&nbsp;</th>
      <th>&nbsp;Status&nbsp;</th>
      <th>&nbsp;Estimation Time&nbsp;</th>
      <th>&nbsp;Completed&nbsp;</th>
      <th colspan="3"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><%= task.project_name %></td>
      <td>&nbsp;<%= task.title %></td>
      <td>&nbsp;<%= task.description %></td>
      <td>&nbsp;<%= task.notes %></td>
      <td>&nbsp;<%= task.autor %></td>
      <td>&nbsp;<%= task.executor %></td>
      <td>&nbsp;<%= task.priority %></td>
      <td>&nbsp;<%= task.status %></td>
      <td>&nbsp;<%= task.estimation_time %></td>
      <td>&nbsp;<%= task.completed %></td>
      <td><%= link_to 'Show', task_path(task) %></td>
      <td><%= link_to 'Edit', edit_task_path(task) %></td>
      <td><%= link_to 'Destroy', task, method: :delete, data: {confirm: 'Are you sure?'} %>
      </td>
    </tr>
    </tbody>
  </table>
</div>
